@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Noto+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,800;1,400&display=swap');

body{
  display: flex;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  background-image: url('../src/img/background.jpg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
} 

/* styles.css */
.container-all{
  min-width: 1000px;
  min-height: fit-content;
  /* background-color: beige; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
.container {
  width: 80%;
  /* height: 500px; */
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

}

.weather-info-container{
  background-color: rgb(0, 0, 0,0.5);
  color: white;
  width: 80%;
  height: 50%;
  /* height: 560px; */
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* margin-top: 60px; */
}

.frame{
  width: 80%;
  display: flex;
  flex-direction: column;
}

.weather-date{
  /* display: flex;
  justify-content: center; */
  margin-top: 30px;
  font-size: 24px;
}

.weather-location{
  /* display: flex;
  justify-content: center; */
  font-size: 32px;
  font-weight: 600;
  margin: 0;
}

.temperature-container{
  /* background-color: rgb(51, 53, 53); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  width: 100%;
}

.weather-icon{
  width: 128px;
  height: 128px;
}

.today-weather{
  font-size: 32px;
}

.today-degree{
  font-size: 32px;
  margin-top: -40px;
}

.weather-day{
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: -60px;
  margin-right: 30px;
}

.temperature-info-container{
  /* background-color: rgb(51, 53, 53); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 105%;
}

.abc{
  width: 50%;
  padding-left: 70px;
  font-size: 32px;
}

.weather-condition-title{
  font-size: 24px;
  margin-bottom: -20px;
  margin-right: 10px;
}

.weather-condition{
  font-size: 18px;
}

.weather-desc-container-all{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-right: 20px;
}

.weather-desc-container{
  display: flex;
  flex-direction: row;
}

.weather-desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-week-container{
  border-radius: 20px;
  width: 80%;
  height: 40%;
  /* margin-top: 100px; */
  /* height: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nextday-weather{
  background-color: rgb(0, 0, 0,0.5);
  width: 20%;
  /* height: 310px; */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  gap: 0px;
}

.nextday-weather-icon{
  width: 72px;
  height: 72px;
}

.nextday-title{
  font-size: 24px;
  color: white;
}

.loading{
  font-size: 64px;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.loading-icon{
  width: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/* .nextday-degree{
  font-size: 32px;
  color: white;
} */